# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log

# =========================
# Databases (local only)
# =========================
*.sqlite3
*.db

# =========================
# Alembic (si lo usás luego)
# =========================
alembic.ini.backup
alembic/versions/__pycache__/

# =========================
# Editors / IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Tests / coverage
# =========================
.coverage
htmlcov/

# =========================
# Build artifacts
# =========================
dist/
build/
*.egg-info/
